# Clutering Assignment 3

## Mainly combine two Datframes

### Requirements

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In an older version of this course, we were leveraging the Google Maps Geocoding API to get the latitude and the longitude coordinates of each neighborhood. However, recently Google started charging for their API: http://geoawesomeness.com/developers-up-in-arms-over-google-maps-api-insane-price-hike/, so we will use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

The problem with this Package is you have to be persistent sometimes in order to get the geographical coordinates of a given postal code. Given that this package can be very unreliable, in case you are not able to get the geographical coordinates of the neighborhoods using the Geocoder package, here is a link to a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

### Loading needed environment

In [27]:
import pandas as pd
import numpy as np

#### Load the previous generated Assignment_1 csv file

In [26]:
data_toronto=pd.read_csv('Assignment_1.csv', index_col=0)

#### Download the needed location info

In [25]:
#!wget -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data
location_toronto=pd.read_csv('Geospatial_Coordinates.csv')

In [28]:
data_toronto.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [29]:
location_toronto.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
print(data_toronto.shape)
print(location_toronto.shape)

(103, 3)
(103, 3)

#### Sort the location_toronto and data_toronto dataframea to make it has the same order.

In [31]:
location_toronto=location_toronto.sort_values(by=['Postal Code'], ascending=True)
location_toronto.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [44]:
data_toronto=data_toronto.sort_values(by=['PostalCode'], ascending=True)
data_toronto.reset_index(inplace=True,drop=True)
data_toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Obtain the final dataframe

In [45]:
la_lo=location_toronto[['Latitude','Longitude']]
data_toronto_location=pd.concat([data_toronto, la_lo], axis=1)

In [46]:
data_toronto_location.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [47]:
data_toronto_location.shape

(103, 5)

In [48]:
data_toronto_location.to_csv('data_tornto_location.csv')