# Clustering Assignment 1

## Requirement

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import csv

#### Put the content of the Web in to a variable and use the BeautifulSoup to analyze the data from the page

***
*Obtain the text from the web* for the following post treatment of the tables.
***

In [3]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
Page_temp=requests.get(url).text

soup=BeautifulSoup(Page_temp, 'html.parser')
#print(soup)

#### Finding the "table" in the soup

In [4]:
table=soup.find('table')
results=table.find_all('tr')

#How many lines in the table giving the needed data
print('Number of results', len(results))
#print(results)

Number of results 181

## Creating the Dataframe

Put the content in the table into a Dataframe

In [5]:
PostalCode=[]
Borough=[]
Neighborhood=[]

for result in results:
    data=result.find_all('td')
    i=0
    for cell in data:
        text=cell.getText()
        text=text.strip('\n')
        if i == 0:
            PostalCode.append(text)
            i=i+1
        elif i == 1:
            Borough.append(text)
            i=i+1
        elif i == 2:
            Neighborhood.append(text)
        else:
            print('Something Wrong Happend! Please check!')
 
#print(PostalCode)
#print(Borough)
#print(Neighborhood)

#Create Dataframe
data_dic={'PostalCode':PostalCode,'Borough':Borough,'Neighborhood':Neighborhood}
data_df=pd.DataFrame.from_dict(data_dic)

data_df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

## Arrange the dataframe to the one shown in the assignment

In [6]:
data_df=data_df.drop(data_df[data_df['Borough']=='Not assigned'].index)
data_df=data_df.drop(data_df[data_df['Neighborhood']=='Not assigned'].index)
data_df.reset_index(inplace=True,drop=True)
print(data_df.info())
data_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
PostalCode      103 non-null object
Borough         103 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 2.5+ KB
None

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [7]:
#Show the first few lines of the data frame I created
data_df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [13]:
unique_Postal=data_df['PostalCode'].unique()
len(unique_Postal)

103

In [8]:
#Print the shpe of my dataframe
data_df.shape

(103, 3)

In [10]:
#save the file as the csv for the following assignment
data_df.to_csv('Assignment_1.csv')